{% extends "base.html" %}

{% block title %}אודות - טוטאל שף{% endblock %}

{% block content %}
    <div class="about-page">
        <div class="about-container">
            <div class="about-image">
                <img src="{{ url_for('static', filename='images/0G9A9981.jpg') }}" alt="About Image">
            </div>

            <div class="about-text">
                <h2>אודות</h2>
                <p>מי לא אוהב סלטים? הם הפתרון המושלם לכל ארוחה - לשולחן שבת, לעל האש, לבראנץ', וגם לניגוב או פשוט לאכול ישר מהקופסא. הם המנה המתאימה לכל סועד.</p>
                <p>אז היי, אני נטלי פינקלשטיין וכך התחלתי את העסק שלי - עסק לייצור ושיווק סלטים ממש כמו בבית.</p>
                <p>בואו נחזור רגע ל-2015, השנה בה השתתפתי בתוכנית שכולכם בטח מכירים, מאסטר שף, עונה 5. זה היה חלום ישן שהצלחתי להגשים.</p>
                <p>עם שני ילדים קטנטנים בבית נשאבתי לחוויה טלוויזיונית מרתקת. אחרי התוכנית עסקתי בתחום המזון, אירועים פרטיים קטנים וגדולים, קייטרינג וכו'.</p>
                <p>ואז הגיעה 2020, שנת הקורונה, זוכרים? עם 3 ילדים ובעל עם עסק קמעונאי שנקלע לקשיים, מצאתי את עצמי בבית ללא עבודה, חרדה על המצב אליו נקלענו.</p>
                <p>בעודי בבית מתכוננת להכנות ארוחת שישי עלה לי רעיון - מה יותר טוב וטעים מסלטים בארוחת ליל שבת עם כל המשפחה? לבצוע חלה ולנגב כל מה שבא ליד ואפילו לא לרצות להגיע למנה העיקרית?</p>
                <p>אוקי, אני מתחילה להכין סלטים, אכין הפעם יותר ואתחיל למכור בחנות של בעלי בגבעתיים. עם פרסום קטן בערוצי המדיה ושמועות שרצו במהירות מפה לאוזן, תוך שעתיים נגמרו כל הסלטים.</p>
                <p>משבוע לשבוע הכנתי קצת יותר והבנתי שאנשים צמאים לסלטים ביתיים, איכותיים, בעבודת יד.</p>
                <p>בשלב זה העסק של בעלי נסגר והחלטנו לשלב כוחות ולרכז את כל המאמצים שלנו בבייבי החדש שלנו.</p>
                <p>ואז מאוד מהר ובהזדמנות פז שניתנה לי הגעתי למדפי הקצבייה החדשה של השף ישראל אהרוני ובנו אורי שרק נפתחה באותה תקופה ברחוב שינקין בתל אביב.</p>
                <p>ומעשייה בביתי הפרטי, נאלצתי (למזלי) להיכנס לבירוקרטיה הנוקשה של תעשיית המזון ועדיין להקים מותג סלטים ששומר על הטעם והאיכות הביתיים עליהם אני שומרת בקנאה רבה.</p>
                <p>כיום אני גאה לשווק לכ-40 נקודות ברחבי הארץ אותן אני בוחרת בקפידה והן בוחרות אותי בידיעה שיקבלו מותג איכותי, בלעדי, מדויק ואני מתייחסת לכל אחת מהן כבנות משפחת טוטאל שף.</p>
            </div>
        </div>
    </div>
{% endblock %}
