{% extends "base.html" %}

{% block title %}About - Total Chef{% endblock %}

{% block content %}
    <h2>About</h2>

    <div class="about-image">
        <img src="static/images/0G9A0043.jpg" alt="About Image">
    </div>

    <div class="about-text">
        <p>Who doesn't love salads? They are the perfect solution for every meal - for the Shabbat table, on the fire, for brunch, and also for wiping or simply eating straight from the box. They are the right dish for every diner.</p>

        <p>So hi, I'm Natalie Finkelstein and that's how I started my business - a business for the production and marketing of salads just like at home.</p>

        <p>Let's go back for a moment to 2015, the year I participated in the show you all probably know, Master Chef, season 5. It was an old dream that I was able to fulfill.</p>

        <p>With two tiny children at home, I was drawn to a fascinating television experience. After the program, I worked in the field of food, small and large private events, catering, etc.</p>

        <p>Then came 2020, the year of the coronavirus, remember? With 3 children and a husband with a struggling retail business, I found myself at home without a job, anxious about the situation we were in.</p>

        <p>While I was at home getting ready to prepare Friday dinner, I had an idea - what is better and tastier than salads at a Shabbat night dinner with the whole family? To make challah and wipe everything that comes by and not even want to get to the main dish?</p>

        <p>Ok, I'm starting to make salads, I'll make more this time and start selling at my husband's store in Givataim. With little publicity in the media channels and rumors that quickly spread by word of mouth, within two hours all the salads were gone.</p>

        <p>From week to week I made a little more and realized that people are thirsty for homemade, quality, handmade salads.</p>

        <p>At this point, my husband's business was closed and we decided to join forces and concentrate all our efforts on our new baby.</p>

        <p>Then very quickly and with the golden opportunity that was given to me, I arrived at the shelves of the new butcher shop of chef Israel Aharoni and his son Uri, which had just opened at that time on Shinkin Street in Tel Aviv.</p>

        <p>And working in my own home, I had (fortunately) to enter the rigid bureaucracy of the food industry and still establish a salad brand that maintains the homemade taste and quality that I guard with great jealousy.</p>

        <p>Today I am proud to market to about 40 points throughout the country which I choose carefully and they choose me knowing that they will receive a quality, exclusive, accurate brand and I treat each of them as members of the Total Chef family.</p>
    </div>
{% endblock %}
