{% extends "base.html" %}

{% block title %}About - Total Chef{% endblock %}

{% block content %}
    <div class="about-page">
        <div class="about-container">
            <div class="about-image">
                <img src="{{ url_for('static', filename='images/0G9A9981.jpg') }}" alt="About Image">
            </div>

            <div class="about-text">
                <h2>About</h2>
                <p>Who doesn’t love salads? They’re the perfect solution for any meal – whether it’s Shabbat dinner, a barbecue, brunch, or just for dipping or eating straight from the container. They're the ideal dish for every diner.</p>

                <p>Hi, I’m Natali Finkelstein, and this is the story of how I started my business – producing and marketing homemade-style salads.</p>

                <p>Let’s go back to 2015, the year I participated in a show you probably know – Master Chef, Season 5. It was a long-time dream I finally achieved.</p>

                <p>With two small children at home, I dove into an exciting television experience. After the show, I worked in the food industry, catering private events both large and small, and much more.</p>

                <p>Then came 2020, the year of COVID, remember? With three kids and a husband whose retail business was struggling, I found myself at home, out of work, and worried about our situation.</p>

                <p>While preparing Friday night dinner, an idea struck me – what could be better and tastier than salads for a family Friday night dinner? Tearing challah and dipping into all the dishes, not even wanting to reach the main course?</p>

                <p>I decided to make more salads, and sell them at my husband’s store in Givatayim. With a small social media post and word-of-mouth spreading quickly, all the salads sold out within two hours.</p>

                <p>Week by week, I made a little more, realizing that people were hungry for homemade, high-quality, hand-made salads.</p>

                <p>At that point, my husband’s business closed, and we decided to join forces, focusing all our efforts on our new venture.</p>

                <p>Soon after, I was fortunate enough to land on the shelves of chef Israel Aharoni and his son Uri’s new butcher shop, which had just opened on Shenkin Street in Tel Aviv.</p>

                <p>What started as a small home business grew into a full-fledged company. I had to navigate the complex bureaucracy of the food industry, all while preserving the homemade taste and quality I hold dear.</p>

                <p>Today, I’m proud to market to around 40 locations across the country, which I carefully select. They choose me, knowing they will receive a high-quality, exclusive, and precise brand. I consider each one part of the Total Chef family.</p>
            </div>
        </div>
    </div>
{% endblock %}
