{% extends "base.html" %}

{% block title %}Contact - Total Chef{% endblock %}

{% block content %}
    <div class="contact-page">
        <h2>Contact Us</h2>
        <p dir="ltr">Would you like to have Total Chef salads available in your store as well?</p>

        <h3>Talk to us</h3>
        <ul class="contact-details">
            <li><i class="fas fa-envelope"></i> Email: <a href="mailto:info@totalchef.com">info@totalchef.com</a></li>
            <li><i class="fas fa-phone"></i> Phone: <a href="tel:+972544331265">054-4331265</a></li>
        </ul>

        <h3>Follow us on Social Media</h3>
        <ul class="social-links">
            <li>
                <a href="https://www.facebook.com/natalitotalchef" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/natalifinkelshtein" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
