{% extends "base.html" %}

{% block title %}צור קשר - שף טוטאל{% endblock %}

{% block content %}
    <h2>צור קשר</h2>
    <p>יש לכם שאלות? נשמח לשמוע ממכם! אנא צרו קשר דרך המידע הבא:</p>

    <h3>פרטי יצירת קשר</h3>
    <ul>
        <li>אימייל: <a href="mailto:info@totalchef.com">info@totalchef.com</a></li>
        <li>טלפון: +972 054-4331265</li>
        <li>כתובת: רחוב השף 123, גבעתיים, ישראל</li>
    </ul>

    <h3>עקבו אחרינו ברשתות החברתיות</h3>
    <ul>
        <li><a href="https://www.facebook.com/natalitotalchef">פייסבוק</a></li>
        <li><a href="https://www.instagram.com/natalifinkelshtein">אינסטגרם</a></li>
    </ul>
{% endblock %}
