{% extends "base.html" %}

{% block title %}Contact - Total Chef{% endblock %}

{% block content %}
    <div class="contact-page">
        <div class="contact-box">
            <h2>Contact Us</h2>
            <p>Would you like to have Total Chef salads available in your store as well?</p>

            <h3>Talk to us</h3>
            <ul class="social-links">
                <li>
                    <a href="tel:+972544331265" class="icon-phone">
                        <i class="fas fa-phone"></i>
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/972544331265" target="_blank" class="icon-whatsapp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
            </ul>

            <h3>Follow us on Social Media</h3>
            <ul class="social-links">
                <li>
                    <a href="https://www.facebook.com/natalitotalchef" target="_blank" class="icon-facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/natalifinkelshtein" target="_blank" class="icon-instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
