{% extends "base.html" %}

{% block title %}Contact - Total Chef{% endblock %}

{% block content %}
    <h2>Contact Us</h2>
    <p>Have questions? Get in touch with us!</p>

    <h3>Contact Information</h3>
    <ul>
        <li>Email: <a href="mailto:info@totalchef.com">info@totalchef.com</a></li>
        <li>Phone: +972 054-4331265</li>
        <li>Address: 123 Chef Street, Givataim, Israel</li>
    </ul>

    <h3>Follow Us on Social Media</h3>
    <ul>
        <li><a href="https://www.facebook.com/natalitotalchef">Facebook</a></li>
        <li><a href="https://www.instagram.com/natalifinkelshtein">Instagram</a></li>
    </ul>
{% endblock %}
