{% extends "base.html" %}

{% block title %}צור קשר - טוטאל שף{% endblock %}

{% block content %}
    <div class="contact-page">
        <h2>צור קשר</h2>
        <p dir="rtl">רוצים שישיגו את סלטי טוטאל שף גם בחנות שלך?</p>

        <h3>דברו איתנו</h3>
        <ul class="contact-details">
            <li><i class="fas fa-envelope"></i> אימייל: <a href="mailto:info@totalchef.com">info@totalchef.com</a></li>
            <li><i class="fas fa-phone"></i> טלפון: <a href="tel:+972544331265">054-4331265</a></li>
        </ul>

        <h3>עקבו אחרינו ברשתות החברתיות</h3>
        <ul class="social-links">
            <li>
                <a href="https://www.facebook.com/natalitotalchef" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/natalifinkelshtein" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
