{% extends "base.html" %}

{% block title %}טוטאל שף{% endblock %}

{% block content %}

    <!-- Logo at the top right -->
    <header>
        <img src="{{ url_for('static', filename='images/logo_total.png') }}" alt="Total Chef Logo" class="logo">
    </header>

    <!-- Best-Selling Salads Section -->
    <section class="best-selling">
        <h2>הסלטים הנמכרים ביותר</h2>
        <div class="salad-gallery">
            <div class="salad-item">
                <img src="{{ url_for('static', filename='images/egg_salad.JPG') }}" alt="Salad 1">
                <p>סלט ביצים</p>
            </div>
            <div class="salad-item">
                <img src="{{ url_for('static', filename='images/tabula.JPG') }}" alt="Salad 2">
                <p>טאבולה</p>
            </div>
            <div class="salad-item">
                <img src="{{ url_for('static', filename='images/marrocan_carrot.JPG') }}" alt="Salad 3">
                <p>גזר מרוקאי</p>
            </div>
            <div class="salad-item">
                <img src="{{ url_for('static', filename='images/crovit_chili.JPG') }}" alt="Salad 4">
                <p>כרובית בצ׳ילי</p>
            </div>
            <div class="salad-item">
                <img src="{{ url_for('static', filename='images/carrot.JPG') }}" alt="Salad 4">
                <p>גזר מקלות</p>
            </div>
            <div class="salad-item">
                <img src="{{ url_for('static', filename='images/green_thini.JPG') }}" alt="Salad 4">
                <p>טחינה ירוקה</p>
            </div>
            <div class="salad-item">
                <img src="{{ url_for('static', filename='images/spanish_eggplant.JPG') }}" alt="Salad 4">
                <p>חציל ספרדי</p>
            </div>
            <div class="salad-item">
                <img src="{{ url_for('static', filename='images/zimizuri.JPG') }}" alt="Salad 4">
                <p>צ׳מיצ׳ורי</p>
            </div>
        </div>
    </section>

    <!-- 4 Facts About Total Chef -->
    <section class="facts-about-total-chef">
        <h2>4 עובדות שאולי לא ידעתם על ״טוטאל שף״</h2>
        <ol>
            <li>איך בחרתי את השם ״טוטאל שף״? אז מעבר לכך שאני טוטאלית בכל מה שאני עושה, השם באנגלית מורכב מהשמות של שני ילדיי הבכורים: תומר וטליה. כשחשבנו על השם, הילי הקטנה עוד לא נולדה.</li>
            <li>הדמות בלוגו היא אני.</li>
            <li>אבא שלי, נתן, אחראי על כל המיתוג של הסלטים.</li>
            <li>בכל חג ישנם ספיישלים מיוחדים שלא ניתן להשיג לאורך כל השנה.</li>
        </ol>
    </section>

{% endblock %}
