{% extends "base.html" %}

{% block title %}המוצרים שלנו - טוטאל שף{% endblock %}

{% block content %}
    <h2>המוצרים שלנו</h2>
    <p>בטוטאל שף אנחנו מציעים מגוון רחב של סלטים טריים המתאימים לכל אירוע. הנה כמה מהמוצרים הטעימים שלנו:</p>

    <!-- Salads Gallery Section -->
    <section class="salad-gallery">
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/arisa.JPG') }}" alt="Salad 1">
            <p>אריסה</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/avocado.JPG') }}" alt="Salad 2">
            <p>סלט אבוקדו</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/califlower_in_chili.JPG') }}" alt="Salad 3">
            <p>כרובית בצ׳ילי</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/califlower_thini.JPG') }}" alt="Salad 4">
            <p>כרובית בטחינה</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/carrot_maklot.JPG') }}" alt="Salad 5">
            <p>מקלות גזר</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/colselo.JPG') }}" alt="Salad 6">
            <p>קולסלואו</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/eggplant_natural.JPG') }}" alt="Salad 7">
            <p>חציל טבעי</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/eggplant_with_mayo.JPG') }}" alt="Salad 8">
            <p>חציל במיונז</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/eggplant_with_thini.JPG') }}" alt="Salad 9">
            <p>חציל בטחינה</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/eggs_salads.JPG') }}" alt="Salad 10">
            <p>סלט ביצים</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/garlic.JPG') }}" alt="Salad 11">
            <p>שום קונפי בטימין</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/grandma_salad.JPG') }}" alt="Salad 12">
            <p>סלט תפו״א של סבתא</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/green_schog.JPG') }}" alt="Salad 13">
            <p>סחוג ירוק</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/homemade_hamozim.JPG') }}" alt="Salad 14">
            <p>חמוצי הבית</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/hot_pepper.JPG') }}" alt="Salad 15">
            <p>פלפל חריף</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/matbuha.JPG') }}" alt="Salad 16">
            <p>מטבוחה</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/morrocan_carrots.JPG') }}" alt="Salad 17">
            <p>גזר מרוקאי</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/plain_thini.JPG') }}" alt="Salad 18">
            <p>טחינה</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/purple_cabbage.JPG') }}" alt="Salad 19">
            <p>כרוב סגול</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/purple_cabbage_with_mayo.JPG') }}" alt="Salad 20">
            <p>כרוב סגול במיונז</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/scordelia.JPG') }}" alt="Salad 21">
            <p>סקורדליה</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/selek.JPG') }}" alt="Salad 22">
            <p>סלק</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/spanish_eggplants.JPG') }}" alt="Salad 23">
            <p>חציל ספרדי</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/tabula_salad.JPG') }}" alt="Salad 24">
            <p>טאבולה</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/thini_green.JPG') }}" alt="Salad 25">
            <p>טחינה ירוקה</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/tiziki.JPG') }}" alt="Salad 26">
            <p>צזיקי</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/white_cabbage.JPG') }}" alt="Salad 27">
            <p>כרוב לבן</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/zimisuri.JPG') }}" alt="Salad 28">
            <p>צ׳ימיצ׳ורי</p>
        </div>
    </section>
{% endblock %}
