{% extends "base.html" %}

{% block title %}Products - Total Chef{% endblock %}

{% block content %}
    <h2>Our Products</h2>
    <p>At Total Chef, we offer a wide range of freshly made salads that are perfect for any occasion. Here are some of our delicious products:</p>

    <!-- Salads Gallery Section -->
    <section class="salad-gallery">
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/egg_salad.JPG') }}" alt="Salad 1">
            <p>Egg Salad with Tahini</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/tabula.JPG') }}" alt="Salad 2">
            <p>Tabbouleh Salad</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/moroccan_carrot.JPG') }}" alt="Salad 3">
            <p>Moroccan Carrot Salad</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/crovit_chili.JPG') }}" alt="Salad 4">
            <p>Cauliflower in Chili</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/carrot.JPG') }}" alt="Salad 5">
            <p>Carrot Sticks</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/green_thini.JPG') }}" alt="Salad 6">
            <p>Green Tahini</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/spanish_eggplant.JPG') }}" alt="Salad 7">
            <p>Spanish Eggplant</p>
        </div>
        <div class="salad-item">
            <img src="{{ url_for('static', filename='images/zimizuri.JPG') }}" alt="Salad 8">
            <p>Chimichurri</p>
        </div>
    </section>
{% endblock %}
